{% extends "base.html" %}
{% block title %}الصفحة الرئيسية{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
<div class="jumbotron hidden-md">
    <div class="container">
        <!-- <h1>مرحبا جميعا</h1>
        <p>
            يحتوى هذا الموقع على أخبار منوعة من وكالات انباء محلية وعالمية موثوقة، لتصفح اسهل واسرع وضعنا جميع الاخبار
            بين يديك، نرجو ان ينال هذا الموقع اعاجبكم.

        </p> -->
        <h2>كل ما يهمك ... في مكان واحد</h2>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/bbc-logo.png" alt="BBC">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/logo.png" alt="Maan">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/rt-logo.png" alt="RT">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/wafa-logo.png" alt="Wafa">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/who-logo.jpg" alt="WHO">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/jobs-logo.png" alt="jobs">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../static/imgs/logos/tech-jobs-logo.svg" alt="tech jobs">
                </a>
            </div>
        </div>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">أرسل اقتراحك &raquo;</a></p> -->
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">آخر الاخبار</h3>
            </div>
            <div class="panel-body">


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="{{maan_articles[0]['baseurl']}}" target="_blank">
                            <img class="image-thumbnail" src="../../static/imgs/logos/logo.png" alt="Maan Logo">
                        </a>
                        <div class="caption">
                            <div class="list-group">
                                <a href="{{maan_articles[0]['baseurl']}}" class="list-group-item active"
                                    target="_blank">
                                    {{maan_articles[0]['webname']}}
                                </a>
                                <div class="scrollable">
                                    {% for article in maan_articles %}
                                    <a href="{{article['url']}}" class="list-group-item"
                                        target="_blank">{{article['title']}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="{{rt_articles[0]['baseurl']}}" target="_blank">
                            <img class="image-thumbnail" src="../../static/imgs/logos/rt-logo.png" alt="Maan Logo">
                        </a>
                        <div class="caption">
                            <div class="list-group">
                                <a href="{{rt_articles[0]['baseurl']}}" class="list-group-item active" target="_blank">
                                    {{rt_articles[0]['webname']}}
                                </a>
                                <div class="scrollable">
                                    {% for article in rt_articles %}
                                    <a href="{{article['url']}}" class="list-group-item"
                                        target="_blank">{{article['title']}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="{{wafa_articles[0]['baseurl']}}" target="_blank">
                            <img class="image-thumbnail" src="../../static/imgs/logos/wafa-logo.png" alt="Maan Logo">
                        </a>
                        <div class="caption">
                            <div class="list-group">
                                <a href="{{wafa_articles[0]['baseurl']}}" class="list-group-item active"
                                    target="_blank">
                                    {{wafa_articles[0]['webname']}}
                                </a>
                                <div class="scrollable">
                                    {% for article in wafa_articles %}
                                    <a href="{{article['url']}}" class="list-group-item"
                                        target="_blank">{{article['title']}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">آخر الاخبار</h3>
                    </div>
                    <div class="panel-body"> -->


        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{bbc_articles[0]['baseurl']}}" target="_blank">
                    <img class="image-thumbnail" src="../../static/imgs/logos/bbc-logo.png" alt="Maan Logo">
                </a>
                <div class="caption">
                    <div class="list-group">
                        <a href="{{bbc_articles[0]['baseurl']}}" class="list-group-item active" target="_blank">
                            {{bbc_articles[0]['webname']}}
                        </a>
                        <div class="scrollable">
                            {% for article in bbc_articles %}
                            <a href="{{article['url']}}" class="list-group-item"
                                target="_blank">{{article['title']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{who_articles[0]['baseurl']}}" target="_blank">
                    <img class="image-thumbnail" src="../../static/imgs/logos/who-logo.jpg" alt="WHO Logo">
                </a>
                <div class="caption">
                    <div class="list-group">
                        <a href="{{who_articles[0]['baseurl']}}" class="list-group-item active" target="_blank">
                            {{who_articles[0]['webname']}}
                        </a>
                        <div class="scrollable">
                            {% for article in who_articles %}
                            <a href="{{article['url']}}" class="list-group-item"
                                target="_blank">{{article['title']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{wafa_articles[0]['baseurl']}}" target="_blank">
                    <img class="image-thumbnail" src="../../static/imgs/logos/wafa-logo.png" alt="Maan Logo">
                </a>
                <div class="caption">
                    <div class="list-group">
                        <a href="{{wafa_articles[0]['baseurl']}}" class="list-group-item active" target="_blank">
                            {{wafa_articles[0]['webname']}}
                        </a>
                        <div class="scrollable">
                            {% for article in wafa_articles %}
                            <a href="{{article['url']}}" class="list-group-item"
                                target="_blank">{{article['title']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{maan_health[0]['baseurl']}}" target="_blank">
                    <img class="image-thumbnail" src="../../static/imgs/logos/logo.png" alt="Maan Logo">
                </a>
                <div class="caption">
                    <div class="list-group">
                        <a href="{{maan_health[0]['baseurl']}}" class="list-group-item active" target="_blank">
                            {{maan_health[0]['webname']}}
                        </a>
                        <div class="scrollable">
                            {% for article in maan_health %}
                            <a href="{{article['url']}}" class="list-group-item" target="_blank">{{article['title']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{bbc_health[0]['baseurl']}}" target="_blank">
                    <img class="image-thumbnail" src="../../static/imgs/logos/bbc-logo.png" alt="BBC Logo">
                </a>
                <div class="caption">
                    <div class="list-group">
                        <a href="{{bbc_health[0]['baseurl']}}" class="list-group-item active" target="_blank">
                            {{bbc_health[0]['webname']}}
                        </a>
                        <div class="scrollable">
                            {% for article in bbc_health %}
                            <a href="{{article['url']}}" class="list-group-item" target="_blank">{{article['title']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="{{moh_articles[0]['baseurl']}}" target="_blank">
                    <img class="image-thumbnail" src="../../static/imgs/logos/who-logo.jpg" alt="WHO Logo">
                </a>
                <div class="caption">
                    <div class="list-group">
                        <a href="{{moh_articles[0]['baseurl']}}" class="list-group-item active" target="_blank">
                            {{bbc_health[0]['webname']}}
                        </a>
                        <div class="scrollable">
                            {% for article in moh_articles %}
                            <a href="{{article['url']}}" class="list-group-item" target="_blank">{{article['title']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>
                </div> -->
                            </div>
                            </div>
    </div>
</div>

<hr>



{% endblock %}