apipkg==1.5
appdirs==1.4.4
APScheduler==3.6.3
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
beautifulsoup4==4.9.1
bson==0.5.10
builtwith==1.3.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
dnspython==2.0.0
execnet==1.7.1
filelock==3.0.12
Flask==1.1.2
Flask-APScheduler==1.11.0
gunicorn==20.0.4
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
mypy==0.782
mypy-extensions==0.4.3
mypy-lang==0.5.0
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pep8==1.7.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pylint==2.5.3
pymongo==3.10.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2020.1
requests==2.24.0
rope==0.17.0
sendgrid==6.4.4
six==1.15.0
soupsieve==2.0.1
starkbank-ecdsa==1.0.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.0.29
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
