* {
  box-sizing: border-box;

}

.heading{
      font-family: Amiri-Bold;
      text-decoration: underline;
}

.heading a {
    color: #ea2f10;
    font-size: 20px;
    font-weight: bold;
    /* direction: ltr; */
    text-align: center;
    padding: 25px;

}

.scrollable {
  height: 500px;
  overflow:auto;
  /* direction: rtl; */
  float:right;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 0 10px;
  /* direction: rtl; */
  text-align: right;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-align: center;
  background-color: #f1f1f1;
  /*margin-top: 10px;*/
  text-align: right;
  height: 580px;
  


}
ul {
    list-style-type: none;
    padding-right: 20px;
    height: 300px;
}
.ellip, .ellip-line {
    position: relative;
    overflow: hidden;
}
.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #260f8a;
  /*list-style-image: url(../imgs/arrow-left.png)*/
}
li {    border-bottom: 1px solid #c5c1c1;
        
}

/* Rounded border */
hr.rounded {
  border-top: 5px solid #260f8a;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}



/* Covid Tables*/

.clmn{
  float: right!important;
  padding: 0 10px;
  text-align: right;
  direction: rtl;
}
.crd{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-align: center;
  background-color: #f1f1f1;
  text-align: right;
}

.column1 {
  float: right;
  width: 33.3%;
  padding: 0 10px;
  text-align: right;
}
.title{
  background-color: red;
  display:-moz-inline-box;
}

.covval{

  /* background-color: seagreen; */
  display:-moz-inline-box;
  font-weight: bold;
  font-family: Amiri-Bold;
  font-size: large;
      position: relative;
    z-index: 1;

}
  .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px 8px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.blocw3__titlek {
    display: flex;
    align-items: center;
    padding: 6px 10px 12px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}