
.scrollable {
  height: 300px;
  overflow:auto;
  /* direction: rtl; */

}

.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 78px;
    padding-top: 12px;
}

a.list-group-item, button.list-group-item {
    color: #000;
    font-size: 16px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {

font-size: 18px;
}

.thumbnail {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}