html {
  direction:rtl;
}

body {
  font-family: Amiri-Regualr, Helvetica, sans-serif;
  /* background: #f1f1f1; */
  padding-top: 90px; 
}
.os{
  background-color: #f1f1f1;
  color:#fff;
  margin-top: 20px;
  padding: 10px;
}
@font-face{
font-family: Amiri-Regualr;
src: url('../fonts/Amiri-Regular.ttf');
font-weight: normal;}
@font-face{
font-family: Amiri-Bold;
src: url('../fonts/Amiri-Bold.ttf');
font-weight: normal;}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  direction: ltr;
  
}
#footer a {
  color: white;
}

/* Active Link    */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
 
    background-color: #E41B17;
}
/* Navbar Link    */
.navbar-inverse .navbar-nav>li>a {
    color: #bbb;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
/* Brand Link    */
.navbar-inverse .navbar-brand {
    color: #bbb;
    font-size: 30px;
    line-height: 40px;
}

/*Navbar Toggle*/
.navbar-toggle
{
  margin-top: 18px;
}
.image-band{
      
    float: right;
    height: 45px;
    margin-top: 14px;
    padding-left: 10px;
}


.scrollable {
  height: 300px;
  overflow:auto;
  /* direction: rtl; */

}

.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 78px;
    padding-top: 12px;
}

a.list-group-item, button.list-group-item {
    color: #000;
    font-size: 16px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {

font-size: 18px;
}

.thumbnail {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #b20000;
    border-color: #6a1e1d;
}